.container {
  width: 100%;
  max-width: 1132px;
  margin: 0 auto;
  background-color: #f6f6f6;
}

.header {
  height: 50px;
  opacity: 0.9;
  background-color: #f6f6f6;
  display: flex;
  justify-content: flex-end;
  padding: 13px 20px 13px;
  margin-bottom: 8px;
}

.header .help {
  margin-right: 16px;
}

.header .bell {
  margin-right: 16px;
}

.category {
  padding-left: 20px;
  padding-right: 20px;
}

.category .title_wrap {
  margin-bottom: 12px;
}
.category .title_wrap::after {
  content: '';
  display: block;
  clear: both;
}

.category .title_wrap .title {
  display: inline-block;
  height: 30px;
  margin: 0 4px 0 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: -0.8px;
  text-align: left;
  color: #000000;
}

.category .title_wrap .number {
  display: inline-block;
  height: 26px;
  margin: 0 0 4px 4px;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  text-align: left;
  color: #ff6600;
}

.category .title_wrap .hyperlink {
  float: right;
  height: 20px;
  margin: 0 0 0 1px;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.56px;
  text-align: center;
  color: #999999;
}

.category .card_wrap {
  height: 32px;
  padding: 24px 16px 24px 24px;
  border-radius: 14px;
  background-color: ;
}
.category .card_wrap::after {
  content: '';
  display: block;
  clear: both;
}

.category .card_wrap .card_title {
  height: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
  color: #000000;
}
.category .card_wrap .sum {
  display: inline-block;
  margin-right: 2px;
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  line-height: 1.42;
  color: #000000;
}
.category .card_wrap .sumkor {
  display: inline-block;
  font-size: 22px;
  line-height: 1.55;
  text-align: left;
  color: #000000;
}

.category .card_wrap .sumArrow {
  display: inline-block;
  width: 16px;
  height: 24px;
  line-height: 35px;
  float: right;
}
